html, body {
  height: 100%;
  width: 100%;
}

img {
  width: 50px,
  height: auto
}


h1 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

h6 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

body {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }